/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container {
padding-left: 20px;
padding-right: 20px;
}

.row {
width: 100%;
max-width: 1140px;
margin: 0 auto;
overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
min-height: 1px;
}

.row .onecol {
width: 4.85%;
}

.row .twocol {
width: 13.45%;
}

.row .threecol {
width: 22.05%;
}

.row .fourcol {
width: 30.75%;
}

.row .fivecol {
width: 39.45%;
}

.row .sixcol {
width: 48%;
}

.row .sevencol {
width: 56.75%;
}

.row .eightcol {
width: 65.4%;
}

.row .ninecol {
width: 74.05%;
}

.row .tencol {
width: 82.7%;
}

.row .elevencol {
width: 91.35%;
}

.row .twelvecol {
width: 100%;
float: left;
}

.row .first {
margin-left: 0px;
}

.row .last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}


/* Smaller screens */

@media only screen and (max-width: 1024px) {

	body {
	/*font-size: 0.8em;*/
	/*line-height: 1.5em;*/
	}
	
	}


/* Mobile */

@media handheld, only screen and (max-width: 768px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

	/* Signup (on Landing Page) */

	#signup {}

		#signup .row {}

		#signup .row:first-child {
			margin-bottom: 20px;
			background: #404040 url(../img/50px_dark.gif) top right repeat-x;
			}

		#signup.active .row:first-child { margin-bottom: 0; }

			#signup #whatIsFnex {
				cursor: pointer;
				background: url(../img/sign-up-plus.png) right center no-repeat;
				}

			#signup.active #whatIsFnex { background-image: url(../img/sign-up-minus.png); }

				#signup #whatIsFnex p {}

			#signup .whatIsInfoMobile {
				display: none !important;
				}

			#signup.active .whatIsInfoMobile { display: block !important; }

				#signup .whatIsInfoMobile div {
					padding-left: 0;
					padding-right: 0;
				}

					#signup .whatIsInfoMobile div a {
						display: block;
						text-decoration: none;
						}

			#signup #signUpNow {}

	/* Promos on Home Page */

	#home #promos {}

		#home #promos .row {}

			#home #promos .promo {
				margin: 0 5% 30px 5%;
				padding: 0;
				background: rgb(230, 230, 230);
				margin-bottom: 30px
			}

			#home #promos .fourth { margin-bottom: 0; }

				#home #promos .promo a {
					min-height: 60px;
					padding: 10px 38px 10px 10px;
				}

					#home #promos .promo .graphic {
						display: block;
						}

						#home #promos .promo .graphic img {
							height: 60px;					
						}

					#home #promos .promo .promoPlus {
						display: block;
						width: 28px;
						height: 100%;
						bottom: 0;
						background: rgb(116, 206, 58) url(../img/promo-plus.png) center center no-repeat;
					}

					@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
				
						#home #headerLogo a {
							background-size: 26px 26px;
							background: url(../img/promo-plus@2x.png);
							}
				
					}
					
					#home #promos .promo .promoInfo {
						width: auto;
						margin-top: 13px;
						padding-bottom: 0;
						padding-left: 16px;
						}

						#home #promos .promo .promoInfo .promoHeader {
							font-size: 16px;
							line-height: 33px;
							text-transform: none;
							margin-top:0;
							}

						#home #promos .promo .promoInfo .promoDetail { display: none; }

						#home #promos .promo .promoInfo .promoLink { display: none; }

							#home #promos .promo .promoInfo .promoLink span {}

	/* Footer Section Toggles */

	/* Hide headers within copyright row */

	#footer-headings .twocol { display: none; }

	#footer-content { padding-top: 26px; }

		#footer-content .row {}

			#footer-content .title-of-content {}

			#footer-content .title-of-content.active { padding-bottom: 10px; }

				/* Section Title */

				#footer-content .toggle {
					height: 31px;
					font-size: 16px;
					line-height: 26px;
					margin: 0;
					padding: 8px 0;
					border-top: 1px solid #434343;
					border-bottom: none;
					
					background: url(../img/footer-toggle.png) right center no-repeat;
					cursor: pointer;
					}

				#footer-content .active .toggle {
					border-bottom: 1px solid #434343;
					background-image: url(../img/footer-toggle-active.png);
					}

				#footer-content .title-of-content.active .toggle {
					margin-bottom: 10px;
					}

				#footer-content .title-of-content p {
					display: none;
					font-size: 14px;
					line-height: 20px;
					}

				#footer-content .active p { display: block; }

			/* Calls for Education Center, About Us and Connect with Us */

			#footer-content .list {}

			#footer-content .list.active { padding-bottom: 5px; }

				#footer-content .list.active .toggle {
					margin-bottom: 5px;
					}

				#footer-content .list ul { display: none; }

				#footer-content .active ul { display: block; }

					#footer-content .list li { border: none; }

						#footer-content .education-center li a,
						#footer-content .about-us li a {
							display: block;
							padding: 4px 0;
							font-size: 15px;
							line-height: 25px;
							}

						#footer-content .connect-with-us li a {
							font-size:14px;
						}

						#footer-content .list li a:hover {}

		.row .nested {
			padding-left:0;
			padding-right:0;
		}

}

			@media handheld, only screen and (max-width: 767px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
		
				#signup #whatIsFnex {
					background-size: 50px 50px;
					background-image: url(../img/sign-up-plus@2x.png);
					}
	
				#signup.active #whatIsFnex {
					background-size: 50px 50px;
					background-image: url(../img/sign-up-minus@2x.png);
					}
		
			}
