/* ----------------------- pending deals -------------------------- */
@media only screen and (max-width: 1064px){
	.amounts-left {
		float:none;
		width:100%;
		border-right:0;
	}
	.amounts-right {
		display:none;
		float:none;
		clear:both;
		width:100%;
		border-top:1px solid #f2f2f2;
		padding-top:5px;
	}
		.amounts-right > div {
			padding:0;
			clear:both;
		}
		.amounts-right div div,
		.amounts-right div div:first-child {
			min-height:inherit;
			border:0;
			width:49%;
			float:left;
			padding:0;
			margin:0;
			text-align:center;
		}
		.amounts-right div div:last-child {
			border-left:1px solid #f2f2f2;
		}
	.amounts-right.cloned {
		display:block;
	}
	
	#footer-headings span {
		display:none;
	}
	
}


/* ----------------------- tablet tall -------------------------- */

@media only screen and (min-width: 768px) and (max-width: 1059px) {
	#wrapper {
		min-width: 768px;
		width: 100%;
		min-height: 1240px;
	}

	.row {
		min-width: auto !important;
	}
	.tabletOnly {
		display: block !important;
	}

	.nav ul li a {
		padding: 0 35px;
	}

	.bannerContent {
	    font-size: 26px;
	    line-height: 30px;
	}


	#whatIsInfo {
		padding-right: 4%;
	}

	.promo {
		width: 100% !important;
		height: 105px;
		margin-bottom: 30px;
		background-size: 105px 100%;
		display: table;
	}

	.promoHeader {
		margin-top:0;
	}

	.promoInfo {
		width: 80%;
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}
	.promoPlus {
		display: none;
	}

	.promoDetail {
		margin-top: 10px;
	}

	#promos .row {
		margin-bottom: 0;
		height: auto;
	}

	.promo .graphic {
		width: 125px;
	}

	#advisors {
		padding: 0;
	}

	.advisor {
		width: 33.333% !important;
		margin-right: 0 !important;
	}

	.advisor .graphic img {
		max-width: 100%;
	}

	.advisor .footer {
		display: none;
	}

	.copy {
		width: 100% !important;
		margin-bottom: 30px;
	}

	.small .promoInfo {
		width: 80%;
	}

	.socialPrevNext .fbButton, 
	.socialPrevNext .prev {
		margin-right: 10px;	
	}

	.socialPrevNext .twButton, 
	.socialPrevNext .next {
	}

	.socialPrevNext div {
		width: 45% !important;
		margin-bottom: 10px;
	}
	.socialPrevNext .divider {
	    display: none;
	}
	.socialPrevNext .prev {
		clear: left;
		float: left;
	}

	.dashboard .share .cta {
		display: none;
	}

	.accordianContent .downloadButton {
		background-image: url(../img/mobileDownload.png);
		height: 30px; 
		width: 30px;
		margin-right: 4%;

	}

	.accordianContent .downloadButton span {
		display: none;
	}

	.dashboard .favThisProj .cta {
		display: none;
	}
	   
	 
	/* ==========================================================================
	   Begin - Modified Footer
	   ========================================================================== */
        #footer-content .social a span {
        	display:none;
        }
	/* ==========================================================================
	   END - Modified Footer
	   ========================================================================== */
}



/* --------- phone -------------- */

@media only screen and (max-width: 768px) {
	#wrapper {
		min-width: 200px;
	}

	.mobileOnly {
		display: block !important;
	}

	.hideOnMobile {
		display: none !important;
	}

	#login {
		display: none;
	}

	#loginPhone {
		margin-top: -54px;
		padding-bottom: 20px;
	}

	#manageAccount, .signedInAs, .signOut{
		display: none;
	}
	
	#phoneNumber {
	    margin: 0;
	}


	#mobileNavigation {
		/* nav imgage, white bars */
		background-image: url(../img/navMobile.png);
		background-repeat: no-repeat;
		background-position: 85% 16px;

	}

	.nav {
		height: auto;
	}

	.nav ul li {
		display: block;
		background-color: #4D4D4D;
		border-bottom: 2px solid #404040;
	}

	.nav ul li a {
		display: block;
		background-image: none;
	}

	.bannerContent {
		font-size: 18px;
		line-height: 25px;
	}

	.bannerContent p span {
    	width: 70%;
	}

	.bannerPrev {
		left: 15px;
	}

	.bannerNext {
		right: 15px;
	}

	#signup {
		width: 90%;
		margin: 30px 5%;
	}

	#whatIsInfo {
		display: none;
	}

	#promos .row {
	    height: auto;
	    margin-bottom: 0;

	}

	.promo .graphic {
		display: none;
	}

	.small .promo .graphic {
		display: block;
	}

	.promo {
		width: 100%;
		background-color: #fff;
		background-image: none;

	}
	
	#home #promos .promo .graphic img {
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
	}

	.small .promo {
		/*width: auto!important;*/
		margin-bottom: 20px;
	}

	.small .promoInfo {
		width: 100%;
		background-image: url(../img/promo_bg_light.gif);
		background-size: 100% 100px;
		padding: 0;
	}

	.small .promoInfo .promoHeader,
	.small .promoInfo .promoLink {
		margin-left: 15px;
	}

	.sixcol {
		min-height: 0;
	}


	.promoInfo {
		/*width: 90%;*/
		width: 100%;
		border-bottom: 2px solid #e6e6e6;
		padding-bottom: 30px;
		margin: 30px 0 0 0;
	}

	.small .promoInfo {
		border: none;
	}
	.promoPlus {
		display: none;
	}

	.advisor .footer {
		margin-bottom: 30px;
	}

	.last.advisor .footer {
		margin-bottom: 0;
	}
	.advisor .graphic img {
		width: 100%;
	}

	.copy {
		margin-bottom: 30px;

	}

	.last.copy p {
		/*border-bottom: 2px solid #e6e6e6;
		padding-bottom: 30px;*/
		/*width: 90%;*/
	}

	#copy .row {
		padding: 0;
		border: none;
	}

	#prTwelveCol {
		width: auto;
	}

	#prBand {
		margin-top: 30px;
	}

	#footer {
		margin-top: 0;
	}

	.footerHeader {
		margin-top: 30px;
	}

	#pageBottom {
		text-align: center;
	}

	#pageBottom span {
		float: none;
	}

	#resultsTwelveCol {
		width: auto !important;
	}

	.resultArrow {
		display: none;
	}

	.socialPrevNext .fbButton,
	.socialPrevNext .twButton {
		width: 48%;
		margin-bottom: 10px;
	}

	.socialPrevNext .twButton {
		float: right;
	}

	.socialPrevNext .divider {
		display: none;
	}

	.socialPrevNext .prev, .socialPrevNext .next {
		width: 49%;
	}
	.socialPrevNext .next span {
		float: right;
		padding-right: 40px;
	}

	.socialPrevNext .mobileDivider {
		width: 1%;
		border-right: 2px solid #e6e6e6;
		background: #f2f2f2;

	}

	.accordianContent .downloadButton {
		background-image: url(../img/mobileDownload.png);
		height: 30px; 
		width: 30px;
		margin-right: 4%;

	}

	.accordianContent .downloadButton span {
		display: none;
	}

	.newsImage {
		width: 94%;
	}

	.dashboard {
		margin-top: 40px;
	}

	.dashboard .share .cta {
		display: none;
	}

	.dashboard .favThisProj .cta {
		display: none;
	}


	#tabsContainer .row .fourcol,
	.sortBy {
		width: 80% !important;
		margin: 10px 5% !important;
	}

	.tabsLine {
		display: none;
	}

	#tab2 {
		border: 2px solid #e6e6e6;
	}

	.tab, .tab.current {
		border: 2px solid #e6e6e6;
		/*width: 70% !important;*/
		/*width: 80% !important;*/
		margin: 10px 0;
		height: 42px !important;
	}

	.tab:hover {
		border: 2px solid #e6e6e6;
		height: 42px !important;
	}

	.filterItems {
		margin-bottom: 15px;
	}

	.filterItems div {
		clear: left;
		width: 100% !important;
	}

	.sortBy .filterDivider {
		display: none !important;
	}



	#filterBoxTitle {
		margin: 0;
	}

	#filterSearch input {
		width: 70%;
	}

	.filterDescription {
		width: 300px;
	}

	#formSection .formElementLeft,
	#formSection .formElementRight
	 {
		float: left;
		clear: left;
		width: 100%;
	}

	.favorites {
		/*border: none;*/
	}

	.favoritesItem .remove {
		/* display: none; */
	}

	#accountRightCol {
		clear: left;
		float: left;
	}

	.modal {
		width: 280px;
		margin-left: -150px;
	}

	.modalClose {
		top: 20px;
		right: 20px;
	}

	.modalContent {
		width: 240px;
		margin: 40px 20px;
	}

	.modalButton {
		width: 100%;
	}

	#modalWelcome .modalContent,
	#modalLogin .modalContent {
		margin-top: 80px;
	}

	.modal input[type=text],
	.modal input[type=password] {
	 	width: 240px;
	 }
	 
	 
	/* ==========================================================================
	   Begin - Modified Footer
	   ========================================================================== */
        #footer-content h4 {
        	font-size:16px;
        }
        #footer-content .list h4 {
        	display:block;
        }
	
    	#footer-headings {
    		padding:0;
    	}
    	#footer-content {
    		padding:18px 0 28px 0;
    	}
	/* ==========================================================================
	   END - Modified Footer
	   ========================================================================== */
	 
	 
	 
	/* ==========================================================================
	   Begin - Accordion
	   ========================================================================== */
		.accordion tr td:last-child span {
			display:none;
		}
		.accordion tr td:first-child:before {
			content: "";
			margin-left:0;
		}
	/* ==========================================================================
	   END - Modified Footer
	   ========================================================================== */
	 
}




@media only screen and (max-width: 480px){
   	.affiliate .logo {
   		width:100%;
   		display:block;
   		vertical-align:top;
   		margin-top:20px;
   	}
	   	.affiliate .logo img {
	   		max-width:100%;
	   	}
   	.affiliate .description {
	   	width:100%;
   	}
			
			
	#footer-content .toggle {
		padding:10px;
	}
	 
	 
	 
	/* ==========================================================================
	   Begin - Pending Deals
	   ========================================================================== */
		.deal-summary,
		.deal-details {
			display:block;
			clear:both;
			float:none;
			width:100%;
		}
		.deal-image {
			width:125px;
		}
		.deal-info {
			width:auto;
			white-space:nowrap;
		}
		.deal-link {
			display:block;
			background-color:#74CE3A;
			text-align:center;
		}
			.deal-link a {
				color:#fff;
				text-decoration:none;
				line-height:165%
			}
				.deal-link a:hover {
					opacity:0.9;
				}
				
				
		.amounts-left {
			border-left:0;
			margin-top:10px;
			padding-top:10px;
			border-top:1px solid #f2f2f2;
			display:none;
		}
		.amounts-left .padding {
			padding:0;
		}
		.amounts-right,
		.amounts-right.cloned {
			display:none;
		}
	/* ==========================================================================
	   END - Pending Deals
	   ========================================================================== */
}

